%html
  %head
    %title Sinatra + Riak
    %link{'rel' => 'stylesheet', 'href' => 'http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css', 'type' => 'text/css'}
  %body
    .container
      #content
        =yield
